.stream {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .item {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    transition: all 0.5 ease;

    @media only screen and (max-width: 1000px) {
      width: 200px;
      height: 200px;
      margin: 5px 10px;
    }

    h3 {
      position: absolute;
      font-size: 30px;
    }

    img {
      width: 500px;
      height: 500px;
      object-fit: cover;
      z-index: 1;
      cursor: pointer;
      margin: 0;
      padding: 0px;
    }
    //   &:hover {
    //     background-color: black;
    //     img {
    //       opacity: 0.2;
    //       z-index: 0;
    //     }
    //   }
  }
}
