.stream {
  width: 60vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-type: x mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-align: start;
  overflow: auto;

  .item {
    border-radius: 5px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    transition: all 0.5 ease;

    @media only screen and (max-width: 1000px) {
      width: 200px;
      height: 200px;
      margin: 5px 10px;
    }

    h3 {
      position: absolute;
      font-size: 30px;
    }

    img {
      width: 700px;
      height: 700px;
      object-fit: fill;
      z-index: 1;
      cursor: pointer;
      margin: 0;
      padding: 0px;
    }
    //   &:hover {
    //     background-color: black;
    //     img {
    //       opacity: 0.2;
    //       z-index: 0;
    //     }
    //   }
    .anchor {
      position: absolute;
      align-items: center;
      justify-content: center;
      display: flex;

      a {
        img {
          width: 131px;
          height: 122px;
        }
      }
    }
  }
}
